* {margin: 0px; padding: 0px;}

header {
    width: 100%;
    height: 100px;
    background-color:lightpink;
    
    position: relative; /* header의 absolute요소들을 header의 최상단 기준으로 하게 하려고 */
}

img {
    width: 80px; height:80px;
    position: absolute;
    top: 10px;
    left: 20px;
}

a { text-decoration: none; color: white}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; color:rgb(250, 110, 133)}

#contents {
    position: absolute;
    top: 35px;
    left: 150px;
    color: white;
    font-size: 20pt;
    font-weight: bold;
}

#login {
    position: absolute;
    top: 35px;
    right: 20px;
    color: white;
    font-size: 20pt;
    font-weight: bold;
}

.login_window {
    margin: 10px;
    width: 100%; height: 500px;
    text-align: center;
    background-color: linen;
    font-weight: bold;
    color: rgb(228, 137, 150);
}

h1 {
    margin: 40px;
    color: rgb(250, 110, 133);
}

.div_id, .div_pw {
    display: inline-block; /* 이렇게하면 div안의 div가 중앙정렬 된다 */
    width: 30%;
    border-bottom: 2px solid rgb(250, 110, 133);
    margin: 20px;
    padding: 10px 10px;
}

.id, .pw {
    width: 100%;
    border: none;
    outline: none;
    color: rgb(250, 110, 133);
    font-size: 16px;
    height: 25px;
    background: none;
}

.btn {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background: none;
    border: 2px solid rgb(250, 110, 133);
    font-size: 16px;
    font-weight: bold;
    color:rgb(250, 110, 133);
}

.btn:hover {
    color: white;
    background-color: rgb(250, 110, 133);
}

footer {
    background-color: lightpink;
    width: 100%;
    height: 50px;
    clear: left;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 50px; /* 글씨의 높이 자체를 footer크기와 같게 해줘서 수직 중앙 정렬 */
}